# Dependencies
node_modules
.pnpm-store

# Environment variables
.env
.env.*
.env.local
.env.*.local

# Next.js
.next/
out/

# Build outputs
dist/
build/
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
Thumbs.db
.DS_Store
